.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "Space Grotesk", "NanumBarunGothicYetHangul";
}

#todo-form {
  position: relative;
  &:hover #coin {
    transform: translateX(105%);
    opacity: 1;
  }
}
@keyframes flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
#coin {
  position: absolute;
  display: flex;
  width: 120%;
  height: 120%;
  top: 1%;
  opacity: 0;
  transition: 0.3s;
  & span.material-symbols-outlined {
    animation: flip 1s ease-in-out infinite;
    padding: 5%;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    &:hover {
      font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 48;
      animation: flip 1s ease-in-out infinite;
      cursor: pointer;
      width: 100%;
      color: yellow;
    }
  }
}

#todo-form input {
  font-family: "Space Grotesk", "NanumBarunGothicYetHangul";
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  transition: ease-in-out 0.5s;
  width: 28px;
  opacity: 0;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.857);
  &:focus {
    width: 280px;
    opacity: 1;
    color: goldenrod;
    &::placeholder {
      font-family: inherit;
      color: gainsboro;
      opacity: 1;
    }
  }
  &::placeholder {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}

#todo-form > span {
  opacity: 1;
}

#todo-form .material-symbols-outlined {
  font-size: 1.5rem;
  position: relative;
  left: 5%;
  top: 17%;
  transition: 0.5s;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    animation: none;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.857);
    color: lemonchiffon;
  }
}

#todo-list {
  font-weight: 500;
  margin-top: 40px;
  position: absolute;
  width: 300px;
  height: 26vh;
  overflow-y: scroll;
  mask: linear-gradient(
    to bottom,
    transparent 0%,
    black 8%,
    black 92%,
    transparent 100%
  );

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    margin: 15px 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 2em;
    min-height: 25px;
  }
  &.on-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

#todo-list li {
  background-image: linear-gradient(
    to bottom,
    #8d8c8c70 0%,
    #ceb28270 51%,
    #8d8c8c70 100%
  );
  background-size: auto 200%;
  transition: background 0.4s ease-in-out;
  place-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  &:hover {
    background-position-y: bottom;
  }
  &:first-child {
    padding-top: 13px;
    border-top: none;
  }
  &:last-child {
    padding-bottom: 13px;
  }
}

#todo-list li span {
  width: 80%;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#todo-list li span::-webkit-scrollbar {
  display: none;
}

@keyframes flyingrocket {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1) translateX(5px) translateY(-5px);
    opacity: 0;
  }
}

#todo-list li button {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.2s ease-in-out;
  padding: 1%;
  color: white;
  &:hover {
    cursor: pointer;
    color: lemonchiffon;
    animation: flyingrocket 1s linear infinite;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 100px rgba(255, 255, 255);
  }
  #deleteTodo {
    font-size: 1rem;
    width: 100%;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
    rotate: 0deg;
    scale: 10%;
    box-shadow: 0 0 100px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    opacity: 0.5;
    rotate: 180deg;
    scale: 90%;
    box-shadow: 0 0 100px 2px rgba(255, 255, 255, 0.658);
  }
  100% {
    opacity: 1;
    rotate: 360deg;
    scale: 10%;
    box-shadow: 0 0 100px 0px rgba(255, 255, 255, 0.05);
  }
}
#todo-form #sirius {
  will-change: animation;
  display: flex;
  position: absolute;
  color: white;
  text-shadow: 1px 1px 20px yellow, 0 0 1rem white, 0 0 0.2rem yellowgreen;
  top: 15%;
  left: 20%;
  border-radius: 50%;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  animation: 3s flash linear infinite;
}
#todo-form:focus-within #sirius {
  opacity: 0;
  visibility: hidden;
}
